/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bf8pkAp6a.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0bf8pkAg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfChc4AMP6lbBP.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/KFOlCnqEu92Fr1MmWUlfBBc4AMP6lQ.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

/* latin-ext */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hJVQNYuDyP7bh.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Quicksand';
  font-style: normal;
  font-weight: 400;
  src: local('Quicksand Regular'), local('Quicksand-Regular'), url(https://fonts.gstatic.com/s/quicksand/v7/6xKtdSZaM9iE8KbpRA_hK1QNYuDyPw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html {
  font-family: 'Open Sans', sans-serif;
}

a {
  text-decoration: none;
}

div {
  display: block;
}

header {
  display: flex;
  width: 100%;
  background-color: white;
  height: 4rem;
  justify-content: space-between;
  position: fixed;
  z-index: 10;
}

.mobile-header {
  display: none;
}

.header {
  display: flex;
  margin: 16px 0;
  font-family: 'Roboto', sans-serif;
  padding-left: 24px;
  padding-right: 24px;
  max-width: 1439px;
}

.header h1 {
  flex-grow: 1;
  font-size: 1.4rem;
  line-height: 2;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  line-height: 2;
}

.header li:first-child {
  margin-left: 0;
}

.header li:nth-child(1n+2) {
  margin-left: 16px;
}

.header li {
  font-family: 'Quicksand', sans-serif;
}

.header li a:link {
  color: inherit;
  text-decoration: none;
  font-size: 1.4rem;
}

.header h1 span {
  color: gray;
}

.header img {
  height: 3rem;
}

.banner-container {
  width: 0 auto;
  background-color: #EEF9ED;
  padding-left: 24px;
  padding-right: 24px;
}

.banner-container img {
  display: inline-block;
  width: 52%;
  margin: 2rem 2.5rem 2rem 1.5rem;
  flex-shrink: 0;
  vertical-align: middle;
}

.banner-text {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  vertical-align: middle;
  margin-left: 24px;
}

.banner-container .banner-text {
  width: 35%;
}

.head-text {
  font-family: 'Roboto', sans-serif;
  font-size: 3rem;
  line-height: 1.1;
}

.banner-text span {
  font-family: 'Roboto', sans-serif;
  font-size: 2rem;
  line-height: 1.2;
  margin: 24px 0;
}

.start-btn {
  width: 75%;
  color: black;
  font-size: 1.2rem;
  padding: 1rem 0;
  text-align: center;
  font-weight: bold;
  background-color: #ADBED3;
  transition: background-color 150ms linear 5ms;
}

.start-btn:hover {
  background-color: #FF7954;
}

.start-btn a:visited {
  color: black;
}

.start-btn a:link {
  color: black;
}

.multi-container {
  display: flex;
  width: 100%;
  flex-wrap: nowrap;
}

.information-main-container {
  padding-top: 32px;
  padding-bottom: 32px;
  width: auto 0;
}

.left-container {
  width: 60%;
  padding-left: 24px;
  padding-right: 24px;
}

.left-pic-box img {
  display: inline-block;
  width: 86%;
  margin: 0 2.5rem 32px 1.5rem;
  flex-shrink: 0;
  vertical-align: middle;
}

.left-container-text {
  padding-left: 24px;
  width: 84%;
}

.left-container .head-text {
  padding-bottom: 24px;
}

.left-container-text .quote {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.5rem;
}

.author {
  font-size: 1rem;
  padding-top: 70px;
  padding-bottom: 32px;
}

.right-container {
  border-left: 1px solid gray;
  display: flex;
  flex-flow: column;
  vertical-align: top;
  width: 40%;
}

.content-container {
  margin-left: 16px;
  margin-bottom: 3px;
}

.left-pictures {
  display: inline-block;
  vertical-align: middle;
}

.right-text-container {
  display: inline-flex;
  flex-flow: column;
  vertical-align: middle;
  justify-content: space-between;
  margin-left: 16px;
  width: 50%;

}

.info-title {
    font-family: 'Roboto', sans-serif;
    font-size: 1.4rem;
    line-height: 1.2;
    font-weight: bold;
}

.right-text-container span {
  padding: 6px 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 0.8rem;
}

.info-link {
  font-size: 0.8rem;
  font-family: 'Open Sans', sans-serif;
  color: orange;
}

.content-container:last-child {
  background-color: #EEF9ED;
}

.learning-container {
  display: flex;
  justify-content: center;
  flex-flow: column;
  align-items: center;
  background-color: #EEF9ED;
}

.learning-container h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 2rem 0;
}

.whole-course-container {
  width: 90%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 2rem;
}

.course-container {
  width: 30%;
  height: auto;
  margin: 0 0.5rem 1rem 0.5rem;
  background-color: white;
}

.course-container img {
  width: 100%;
}

.course-text {
  padding: 1rem 0 0 1rem;
  margin: 1.5rem auto;
}

.course-text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
}

.course-text p {
  line-height: 1.35;
  padding: 0.5rem 0.5rem 0.5rem 0;
}

.thesis-container {
  width: 0 auto;
}

.thesis-container h2 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 2.4rem;
  font-weight: bold;
  padding: 2rem 0;
}

.thesis-multi-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.left-thesis-box {
  padding: 1rem 1rem 1.5rem 1.5rem;
  width: 60%;
}

.left-thesis-box video {
  width: 100%;
  margin-bottom: 2rem;
}

video {
  object-fit: contain;
}

.left-thesis-box h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
}

.left-thesis-box p {
  line-height: 1.35;
  padding: 0.5rem 0.5rem 0.5rem 0;
  margin-bottom: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}

.right-thesis-box {
  display: flex;
  flex-flow: column;
  vertical-align: top;
  margin-top: 1rem;
  width: 35%;
}

.content-box:first-child {
  background-color: #EEF9ED;
}

.content-box img {
  width: 35%;
  margin: 3.5%;
  vertical-align: middle;
  display: inline-block;
}

.content-box .side-text {
  width: 56%;
}

.side-text {
  display: inline-flex;
  flex-flow: column;
  justify-content: space-between;
  vertical-align: middle;
}

.side-text h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.4rem;
  line-height: 1.2;
  font-weight: bold;
}

.side-text p {
  line-height: 1.35;
  padding: 0.5rem 0.5rem 0.5rem 0;
  font-family: 'Open Sans', sans-serif;
}

.footer {
  background-color: white;
  border-top: 1px solid #01161E;
  display: flex;
  justify-content: space-between;
  top: 4rem;
  width: 100%;
}

.footer h5 {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  padding: 1rem 1.5rem;
  margin-bottom: 1.5rem;
}

nav {
  display: flex;
}

.footer nav {
  padding-right: 3%;
  align-self: auto;
  padding-top: 1rem;
}

.footer span {
  font-size: 0.8rem;
  color: black;
  padding-left: 1rem;
}

@media only screen and (max-width: 470px) {
  .mobile-header {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }
  .mobile-header img {
    display: inline-flex;
    width: auto;
    height: 90%;

  }
}

@media only screen and (max-width: 470px) {
  .header img {
    display: none;
  }
  .header h1 {
    display: none;
  }
  .header ul li {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .header {
    max-width: 100%;
  }
}

@media only screen and (max-width: 470px) {
  .banner-container img {
    width: 100%;
    margin: auto;
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
}

@media only screen and (max-width: 470px) {
  .banner-container .banner-text {
    width: 100%;
    padding: 0 1rem;
    margin: auto;
  }
}

@media only screen and (max-width: 470px) {
  .start-btn a {
    width: 100%;
    align-self: center;
  }
}

@media only screen and (max-width: 470px) {
  .left-container {
    display: none;
  }
}

@media only screen and (max-width: 470px) {
  .right-container, content-container .right-text-container {
    width: 100%;
    background-color: white;
  }
}

@media only screen and (max-width: 470px) {
  .content-container {
    display: flex;
    flex-flow: column;
  }
}

@media only screen and (max-width: 470px) {
  .content-container img {
    width: 100%;
    margin: auto;
    background-color: white;
  }
}

@media only screen and (max-width: 470px) {
  .right-container .content-container:last-child {
    background-color: white;
  }
}
